html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: $font-tt;
  background-color: $color-white;
  font-size: $text-middle;
}

.wrapper {
  min-width: $screen-sm;
  max-width: $screen-xl;
  margin: 0 auto;
  position: relative;
}

